openapi: 3.2.0
info:
  title: Goodstack Services Org name search API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Org name search
paths:
  /v1/validation-submissions-organisations:
    get:
      security:
      - SecretApiKey: []
      summary: Search for Validation Submissions with specific org name
      tags:
      - Org name search
      parameters:
      - in: query
        name: query
        schema:
          type: string
          example: Great Charity
        description: Filter results by Organisation name
      - in: query
        name: validationRequestIds
        schema:
          type: array
          items:
            type: string
          description: Filter by validation request ids
      - in: query
        name: organisationIds
        schema:
          type: array
          items:
            type: string
          description: Filter by organisation ids
      responses:
        '200':
          description: Successfully retrieved results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            name:
                              type: string
                              example: Happy Charity
                            organisationId:
                              type:
                              - string
                              - 'null'
                              example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            validationSubmissionId:
                              type: string
                              example: validationsubmission_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                            validationRequestId:
                              type:
                              - string
                              - 'null'
                              example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  object:
                    type: string
                    example: org_name_search
        '400':
          $ref: '#/components/responses/IncorrectParams'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getV1ValidationSubmissionsOrganisations
      x-operation-id-source: derived
components:
  responses:
    IncorrectParams:
      description: Error validating inputs
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: bad_request
                  title:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: One or more of the inputs were invalid
                  reasons:
                    type: array
                    items:
                      type: string
                      example: pageSize must be greater than or equal to 0
    Unauthorized:
      description: Unauthorized
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
