{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://api.goodstack.io",
      "description": "Production server"
    },
    {
      "url": "https://sandbox-api.goodstack.io",
      "description": "Sandbox server"
    }
  ],
  "info": {
    "title": "Goodstack Services",
    "version": "v1",
    "x-logo": {
      "url": "https://docs.goodstack.io/img/logo.png",
      "altText": "Goodstack logo"
    },
    "x-dark-logo": {
      "url": "https://docs.goodstack.io/img/icons/Logo-white.svg",
      "altText": "Goodstack logo"
    },
    "contact": {
      "email": "engineering-support@goodstack.io",
      "name": "Api support"
    },
    "description": "# Introduction\n\nGoodstack API allows you to build good into your product by facilitating charitable donations. We achieve this through the API's listed and specified in this documentation.\n\nFor all donations using the Goodstack API, Goodstack handles the vetting and validation of the good causes and onward the disbursement of the donation.\n\nThe Goodstack API is organised around REST. All API responses, including errors, return JSON and use standard HTTP response codes. In all API requests you must specify the content-type HTTP header as application/json. All API requests must be made over HTTPS.\n\n# Authentication\n\nAuthenticate your API requests by setting your live secret API key in the Authorization header.\n\nTwo keys are provided to you, a publishable key prefixed with `pk_` and a secret key prefixed with `sk_`.\n\nPublishable API keys are meant solely to identify your goodstack account. These can safely be published in places like your JavaScript code, or in an Android or iPhone app and are meant for usage with our SDKs.\n\nSecret API keys should be kept confidential and only used in secure server environments.\n\nAnywhere that accepts a Publishable key will also accept a Secret key, but routes marked to accept a Secret key will not accept a Publishable key.\n\n# Formats\n\n## Dates\n\nDates are encoded as strings following the ISO 8601 standard `2021-08-01T12:00:00.000Z`.\n\n## Pagination\n\nA maximum of 100 objects can be returned per request and the limit can be specified by using the pageSize query parameter. By default, the pageSize is set to 25.\n\n## Metadata\n\nSome objects have a metadata parameter that you can use to store key-value data.\n\nYou can specify up to 20 keys, with key names up to 40 characters long and values up to 250 characters long.\n\n## Errors\n\nThe API returns standard HTTP response codes to indicate success or failure of API requests. Errors may include a custom error message.\nError objects have these attributes, an `id`, a `message` corresponding to the HTTP response phrase of the error,\nan optional `invalid-params` attribute detailing issues with the request.\n\nAn example error object returned from the API:\n```json\n{\n  error: {\n    code: 'bad_request',\n    title: 'Bad request',\n    message: 'Something is wrong with your request, please check any parameters and try again',\n    reasons: ['amount is a required field']\n  }\n}\n```\n\nA summary of the HTTP status codes returned from the api is listed in the table below.\n\n| Code        | Title           | Description  |\n| ------------- |-------------| -----|\n| 200      | Success | Request successful |\n| 204      | No Content      |   Request successful with no content returned |\n| 400 | Bad Request      | Request was invalid |\n| 401 | Unauthorised | Authorization header is invalid |\n| 403 | Forbidden | Insufficient permissions |\n| 404 | Not Found | Resource does not exist |\n| 429 | Too Many Requests | Rate Limited |\n| 500s | Internal Server Error | Something went wrong with the Goodstack API |\n\n# Retry recommendations\n\nAlthough rare, network requests may fail due to their inherent unreliability. To ensure a robust integration with Goodstack we recommend that you implement a retry mechanism, so that if a network request fails you are able to retry the request.\nGoodstacks API supports idempotency for safely retrying requests through usage of idempotency keys.\n\nFor some POST endpoints we allow clients to specify an idempotency key in the Idempotency-Key header. This allows the client to retry requests without accidentally performing the same operation twice.\n\nIf the same idempotency key is used for multiple requests, only the first successful request will be actioned and subsequent calls will return the result of the first request. Failed requests may be retried with the same idempotency key.\n\nRequests with the same idempotency key and different payload will fail.\n\nThe idempotency key expires after 21 days. After this time, a new request with the same idempotency key will be treated as a new request.\n\n# Webhooks\n\nUse webhooks to subscribe to updates on particular events that occur in Goodstack. Each time an event that you have subscribed to occurs, Goodstack submits a POST request to the designated webhook URL with information about the event.\n\nTo receive webhook notifications, use the [webhook subscriptions API](list-webhook-subscriptions).\n\n## Attributes\n\nAt the top level Webhook payloads will contain `object` and `data` fields. The data record contains the following fields:\n\n| Parameter        | Type           | Description  |\n| ------------- |-------------| -----|\n| id      | string | Id of the event |\n| createdAt      | string      |   Timestamp of when the event was created |\n| eventType | string      | The type of the event e.g. `validation_request.approved` |\n| eventData | record | Data associated with the event |\n\n## Webhook notifications\n\nThe full list of IP addresses that webhook notifications may come from.\n\nProduction environment:\n\n```\n54.76.67.168\n34.248.188.89\n34.243.152.218\n```\n\nSandbox environment:\n\n```\n54.76.168.240\n99.81.243.145\n54.220.118.167\n```\n\n## Webhook responses\n\nTo acknowledge receipt of a webhook notification, your endpoint must return a 2xx HTTP status code.\n\nIf the webhook is not received successfully then Goodstack will resend the webhook 4 times over the next 14 hours with increasing delays between retries.\n\nThe id of the event can be used to uniquely identify the event. We recommend making the processing of these events idempotent. While rare it is possible for multiple webhooks to be sent for the same event.\n\n## Verifying webhooks\n\nTo verify that the webhook payload is sent from Goodstack, a header `Goodstack-Signature` is included in the request, this signature is generated using HMAC with SHA-256 hashing algorithm and Hex encoded. The webhook subscription secret is used as the key.\n\nYou can compute this signature using HMAC with the SHA-256 hash function, using the webhook subscription secret as the key, and the request body as the message. You can then check that the `Goodstack-Signature` value matches the computed value, verifying that the webhook was sent from Goodstack.\n\n## Validation Request events\n\n| Event        | Description           |\n| ------------- |-------------|\n| validation_request.approved      | Validation request was approved |\n| validation_request.rejected      | Validation request was rejected      |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"validation_request.approved\",\n    \"createdAt\": \"2021-08-01T12:00:00.000Z\",\n    \"eventData\": {\n      \"id\": \"validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationTypes\": [\"nonprofit\", \"social_impact\"],\n      \"name\": \"example charity\",\n      \"registryName\": \"National Charities Registry\",\n      \"registryId\": \"I34324\",\n      \"email\": \"example@example.com\",\n      \"addressLine1\": \"example street 15\",\n      \"addressLine2\": null,\n      \"city\": \"Katowice\",\n      \"postal\": \"44-100\",\n      \"state\": \"Silesia\",\n      \"website\": \"https://example.com\",\n      \"countryCode\": \"POL\",\n      \"createdAt\": \"2021-08-01T12:00:00.000Z\",\n      \"deletedAt\": null,\n      \"acceptedAt\": \"2021-08-01T12:00:00.000Z\",\n      \"rejectedAt\": null,\n      \"(deprecated) rejectionReason\": null,\n      \"rejectionReasonCode\": null\n    }\n  }\n}\n```\n## Agent Verification events\n\n| Event        | Description           |\n| ------------- |-------------|\n| agent_verification.pending_user_verification      | Agent has passed Goodstack review, and is awaiting email verification.     |\n| agent_verification.pending_review      | Agent has passed email verification and is awaiting Goodstack review. |\n| agent_verification.approved      | Agent verification was approved.     |\n| agent_verification.rejected      | Agent verification was rejected.      |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"agent_verification.approved\",\n    \"createdAt\": \"2021-08-01T12:00:00.000Z\",\n    \"eventData\": {\n      \"id\": \"agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"firstName\": \"Max\",\n      \"lastName\": \"Plank\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"email\": \"example@example.com\",\n      \"language\": \"en-GB\",\n      \"validationRequestId\": \"validationRequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"title\": \"Board Member\",\n      \"(deprecated) rejectionReason\": \"Identity check failed\",\n      \"rejectionReasonCode\": \"user_failed_percent_review\",\n      \"metadata\": {},\n      \"createdAt\": \"2021-08-01T12:00:00.000Z\",\n      \"status\": \"approved\"\n    }\n  }\n}\n```\n## Monitoring Subscription events\n\n| Event        | Description           |\n| ------------- |-------------|\n| monitoring_subscription.updated      | Monitoring Subscription was updated.     |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"monitoring_subscription.updated\",\n    \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n    \"eventData\": {\n      \"id\": \"monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"validationRequestId\": null,\n      \"status\": \"live\",\n      \"createdAt\": \"2021-08-02T11:00:00.000Z\",\n      \"results\": {\n        \"complianceStatus\": \"fail\",\n        \"warning\": { \"status\": \"clear\" },\n        \"sanction\": { \"status\": \"flag\" },\n        \"hateSpeech\": { \"status\": \"clear\" },\n        \"commercial\": { \"status\": \"clear\" },\n        \"adverseMedia\": { \"status\": \"clear\" },\n        \"controversial\": { \"status\": \"flag\" },\n        \"registration\": { \"active\": \"yes\" }\n      }\n    }\n  }\n}\n```\n## Eligibility Subscription events\n\n| Event         | Description          |\n| ------------- |-------------|\n| eligibility_subscription.updated     | Eligibility Subscription was updated.     |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"eligibility_subscription.updated\",\n    \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n    \"eventData\": {\n      \"id\": \"eligibilitysubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"validationRequestId\": null,\n      \"status\": \"live\",\n      \"suggestedActivitySubTags\": [\n        {\n          \"id\": \"activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n          \"name\": \"Primary School\"\n          \"description\": \"Includes all primary schools\",\n          \"tag\": {\n            \"id\": \"activitytag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n            \"name\": \"Educational\"\n            \"description\": \"Includes all educational institutions\"\n          }\n        }\n      ]\n      \"createdAt\": \"2021-08-02T11:00:00.000Z\",\n      \"updatedAt\": \"2021-08-02T11:00:00.000Z\",\n      \"results\": {\n        \"eligibilityStatus\": \"fail\",\n        \"confirmedActivitySubTags\": [\n          {\n            \"id\": \"activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n            \"name\": \"Primary School\"\n            \"description\": \"Includes all primary schools\",\n            \"tag\": {\n              \"id\": \"activitytag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n              \"name\": \"Educational\"\n              \"description\": \"Includes all educational institutions\"\n            }\n          }\n        ],\n        \"rejectedActivitySubTags\": [\n          {\n            \"id\": \"activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n            \"name\": \"Primary School\"\n            \"description\": \"Includes all primary schools\",\n            \"tag\": {\n              \"id\": \"activitytag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n              \"name\": \"Educational\"\n              \"description\": \"Includes all educational institutions\"\n            }\n          }\n        ]\n      }\n    }\n  }\n}\n```\n## Validation Submission events\n\n| Event        | Description           |\n| ------------- |-------------|\n| validation_submission.created      | Validation Submission was created.          |\n| validation_submission.succeeded    | Validation Submission has passed all checks |\n| validation_submission.failed       | Validation Submission has failed            |\n| validation_submission.updated      | Validation Submission status has updated    |\n\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"validation_submission.created\",\n    \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n    \"eventData\": {\n        \"id\": \"validationsubmission_xxxxx\",\n        \"agentVerificationId\": \"agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"agentVerification\": {\n          \"id\": \"agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n          \"firstName\": \"Max\",\n          \"lastName\": \"Plank\",\n          \"email\": \"example@example.com\",\n          \"(deprecated) rejectionReason\": null,\n          \"rejectionReasonCode\": null,\n          \"status\": \"pending\"\n        },\n        \"createdAt\": \"2021-08-02T11:00:00.000Z\",\n        \"eligibilitySubscriptionId\": \"eligibilitysubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"monitoringSubscriptionId\": \"monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"partnerFields\": {},\n        \"validationSubmissionHostedConfigurationId\": \"hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"metadata\": {},\n        \"status\": \"pending\",\n        \"validationInviteId\": \"validationinvite_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"validationRequestId\": \"validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"validationRequest\": {\n          \"id\": \"validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n          \"name\": \"Charity\",\n          \"acceptedAt\": null,\n          \"rejectedAt\": null,\n          \"organisationTypes\": []\n        }\n    }\n  }\n}\n```\n\nN.B. Please be aware that the \"Validation Submission Failure\" event consists of a property named failureReasons. In the given example, we have included all possible reasons that may be encountered. It is important to note that only one of these reasons will be received when encountering this event.\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"validation_submission.failed\",\n    \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n    \"eventData\": {\n      \"id\": \"validationsubmission_xxxxx\",\n      \"agentVerificationId\": \"agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"agentVerification\": {\n          \"id\": \"agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n          \"firstName\": \"Max\",\n          \"lastName\": \"Plank\",\n          \"email\": \"example@example.com\",\n          \"(deprecated) rejectionReason\": \"Other\",\n          \"rejectionReasonCode\": \"other\",\n          \"status\": \"rejected\"\n        },\n      \"createdAt\": \"2021-08-02T11:00:00.000Z\",\n      \"eligibilitySubscriptionId\": \"eligibilitysubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"monitoringSubscriptionId\": \"monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"partnerFields\": {},\n      \"validationSubmissionHostedConfigurationId\": \"hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"metadata\": {},\n      \"status\": \"failed\",\n      \"validationInviteId\": \"validationinvite_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"validationRequestId\": \"validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"validationRequest\": {\n        \"id\": \"validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n        \"name\": \"Charity\",\n        \"acceptedAt\": \"2021-08-01T12:00:00.000Z\",\n        \"rejectedAt\": null,\n        \"organisationTypes\": [\"nonprofit\"]\n      },\n      \"failureReasons\": [\n        {\n          \"check\": \"validation_request\",\n          \"reason\": {\n            \"rejectionReasonCode\": \"other\"\n          }\n        },\n        {\n          \"check\": \"agent_verification\",\n          \"reason\": {\n            \"rejectionReasonCode\": \"fake_email_used\"\n          }\n        },\n        {\n          \"check\": \"compliance\",\n          \"reason\": {\n            \"results\": {\n              \"complianceStatus\": \"fail\",\n              \"warning\": {\n                \"status\": \"flag\"\n              },\n              \"sanction\": {\n                \"status\": \"flag\"\n              },\n              \"hateSpeech\": {\n                \"status\": \"flag\"\n              },\n              \"commercial\": {\n                \"status\": \"flag\"\n              },\n              \"adverseMedia\": {\n                \"status\": \"flag\"\n              },\n              \"controversial\": {\n                \"status\": \"flag\"\n              },\n              \"registration\": {\n                \"active\": \"yes\"\n              }\n            }\n          }\n        },\n        {\n          \"check\": \"eligibility\",\n          \"reason\": {\n            \"status\": \"cannot_define_eligibility\",\n            \"results\": {\n              \"eligibilityStatus\": null,\n              \"confirmedActivitySubTags\": null,\n              \"rejectedActivitySubTags\": null\n            }\n          }\n        },\n        {\n          \"check\": \"eligibility\",\n          \"reason\": {\n            \"status\": \"live\",\n            \"results\": {\n              \"eligibilityStatus\": \"fail\",\n              \"confirmedActivitySubTags\": [{\n                \"id\": \"tag1\",\n                \"name\": \"Tag 1\",\n                \"tag\": {\n                  \"id\": \"tag1\",\n                  \"name\": \"Tag 1\",\n                  \"description\": \"Tag description\"\n                },\n                \"description\": \"Sub tag description\"\n              }],\n              \"rejectedActivitySubTags\": [{\n                \"id\": \"tag1\",\n                \"name\": \"Tag 1\",\n                \"tag\": {\n                  \"id\": \"tag1\",\n                  \"name\": \"Tag 1\",\n                  \"description\": \"Tag description\"\n                },\n                \"description\": \"Sub tag description\"\n              }]\n            }\n          }\n        }\n      ]\n    }\n  }\n}\n```\n\n## Donation events\n\nPII fields (`firstName`, `lastName` & `email`) will be included or excluded depending on your partner settings.\n\n| Event        | Description           |\n| ------------- |-------------|\n| donation.hosted.payment_received      |  Payment has been received from the user for a hosted donation.   |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"donation.hosted.payment_received\",\n    \"createdAt\": \"2021-08-07T11:00:30.000Z\",\n    \"eventData\": {\n      \"id\": \"donation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"userId\": \"user_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"type\": \"hosted\",\n      \"hosted\": {\n        \"sessionId\": \"donationsession_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\"\n      },\n      \"amount\": 10000,\n      \"currencyCode\": \"AUD\",\n      \"status\": \"RECEIVED_PAYMENT\",\n      \"firstName\": \"Julia\",\n      \"lastName\": \"Russell\",\n      \"email\": \"example@example.com\",\n      \"consentedToBeContactedByOrg\": \"yes\",\n      \"anonymous\": \"no\",\n      \"giftAidId\": null,\n      \"cancelledAt\": null,\n      \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n      \"metadata\": {\n        \"username\": \"jr123\"\n      },\n      \"subscription\": {\n        \"initial\": true\n      }\n    }\n  }\n}\n```\n| Event                       | Description                                                                                                                                                                                      |\n| ----------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|\n| donation.created            |  A new donation record has been successfully created in the system.                                                                                                                              |\n| donation.payment_successful |  The payment for the donation has been successfully completed and verified.                                                                                                                      |\n| donation.settled            |  The donated funds have been received and reconciled by the partner foundation.                                                                                                                  |\n| donation.disbursed          |  The donated funds have been transferred to the intended nonprofit.                                                                                                                              |\n| donation.cancelled          |  The donation process has been terminated, either by the donor or due to system issues.                                                                                                          |\n| donation.reassigned         |  The donation has been reassigned to another organisation, either because it has failed compliance, we are unable to pay the organisation or the organisation has been merged with another id.   |\n\n```json\n{\n  \"object\": \"event\",\n  \"data\": {\n    \"id\": \"event_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    \"eventType\": \"donation.payment_successful\",\n    \"createdAt\": \"2021-08-07T11:00:30.000Z\",\n    \"eventData\": {\n      \"id\": \"donation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"userId\": \"user_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"organisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"type\": \"direct\",\n      \"amount\": { \"amount\": 10, \"currency\": \"GBP\" },\n      \"status\": \"ACTIVE\",\n      \"firstName\": \"Julia\",\n      \"lastName\": \"Russell\",\n      \"email\": \"example@example.com\",\n      \"consentedToBeContacted\": \"yes\",\n      \"anonymous\": \"no\",\n      \"giftAidId\": \"giftaid_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"createdAt\": \"2021-08-07T11:00:00.000Z\",\n      \"cancelledAt\": null,\n      \"donationRequestId\": \"donationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"donationRequestAmount\": { \"amount\": 10, \"currency\": \"GBP\" },\n      \"accountId\": \"account_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n      \"metadata\": {\"data\": \"hash-value\"},\n      \"settledAmount\": { amount: 10, currency: \"GBP\" },\n      \"settledAt\": \"2021-08-07T11:00:00.000Z\",\n      \"disbursedAt\": \"2021-08-07T11:00:00.000Z\",\n      \"reassignedAt\": \"2021-08-07T11:00:00.000Z\",\n      \"reassignedFromOrganisationId\": \"organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx\",\n    }\n  }\n}\n```\n"
  },
  "tags": [
    {
      "name": "Validation Requests",
      "description": "If you want to know if a nonprofit exists in an official registry, create a Validation Request and we will check it for you.  Documentary evidence can be attached to a Validation Request.  When a Validation Request is accepted or rejected, the appropriate field (acceptedAt, rejectedAt) will be populated."
    },
    {
      "name": "Donations",
      "description": "A Donation object tracks the lifecycle of a Donation from creation and payment to disbursement to the nonprofit.\n\nDonations can be created during a Donation Session by the Hosted Donation Gateway or created directly by calling the [Create A Donation API](create-a-donation).\n"
    },
    {
      "name": "Organisations",
      "description": "Nonprofits are represented by the Organisation object. You can retrieve and query for Organisations."
    },
    {
      "name": "Users",
      "description": "The User object represents a user of your application. It can be used to track Donations that belong to that user."
    },
    {
      "name": "Categories",
      "description": "Categories represent collections of Organisations, which can be used to group and filter Organisations."
    },
    {
      "name": "Agent Verifications",
      "description": "Agent verification is a one-off check. It is used to confirm that:\n  1. The person applying is who they say they are.\n  2. They represent the nonprofit.\n\nThey are not editable once created.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "NONPROFIT DATA",
      "tags": [
        "Organisations",
        "Countries",
        "Registries",
        "Categories"
      ]
    },
    {
      "name": "NONPROFIT VALIDATIONS",
      "tags": [
        "Validation Requests",
        "Validation Request Documents",
        "Validation Invites",
        "Validation Submissions",
        "Validation Submission Documents",
        "Validation Submission Configuration",
        "Monitoring Subscriptions",
        "Eligibility Subscriptions",
        "Activities",
        "Agent Verifications"
      ]
    },
    {
      "name": "MONETARY DONATIONS",
      "tags": [
        "Donations",
        "Donation Sessions",
        "Users",
        "Gift Aid"
      ]
    },
    {
      "name": "WEBHOOK SUBSCRIPTIONS",
      "tags": [
        "Webhook Subscriptions"
      ]
    }
  ],
  "paths": {
    "/v1/agent-verifications": {
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "List Agent Verifications",
        "tags": [
          "Agent Verifications"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "pending_user_verification",
                "pending_review",
                "approved",
                "rejected"
              ]
            }
          },
          {
            "in": "query",
            "name": "email",
            "schema": {
              "type": "string"
            },
            "description": "filter on the Agent Verification list by email",
            "example": "joe"
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date to filter Agent Verifications.",
            "example": "2020-10-13T17:46:54.000Z"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "End date to filter Agent Verifications.",
            "example": "2020-10-13T17:46:54.000Z"
          },
          {
            "$ref": "#/components/parameters/direction"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved list of Agent Verifications",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/AgentVerification"
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "agent_verification"
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 33
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 25
                    },
                    "_links": {
                      "$ref": "#/components/schemas/CursorLinks"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "CursorError": {
                    "$ref": "#/components/examples/Pagination.CursorError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      },
      "post": {
        "summary": "Create an Agent Verification",
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "tags": [
          "Agent Verifications"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Idempotency key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name of Agent",
                        "example": "Max",
                        "maxLength": 255
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of Agent",
                        "example": "Plank",
                        "maxLength": 255
                      },
                      "organisationId": {
                        "type": "string",
                        "description": "Id of the Organisation for which the Agent Verification is for",
                        "example": "organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email Id of the agent",
                        "example": "example@example.com",
                        "maxLength": 255
                      },
                      "title": {
                        "type": "string",
                        "example": "Board Member",
                        "description": "Job Title",
                        "maxLength": 255
                      },
                      "organisationWebsite": {
                        "type": "string",
                        "format": "website",
                        "nullable": true,
                        "description": "Organisation Website link",
                        "maxLength": 255
                      },
                      "language": {
                        "type": "string",
                        "description": "Valid RFC 5646 language code"
                      }
                    },
                    "required": [
                      "firstName",
                      "lastName",
                      "email",
                      "organisationId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "firstName": {
                        "type": "string",
                        "description": "First name of Agent",
                        "example": "Max",
                        "maxLength": 255
                      },
                      "lastName": {
                        "type": "string",
                        "description": "Last name of Agent",
                        "example": "Plank",
                        "maxLength": 255
                      },
                      "validationRequestId": {
                        "type": "string",
                        "description": "Validation Request Id if not part of organisation",
                        "example": "validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                      },
                      "email": {
                        "type": "string",
                        "description": "Email Id of the agent",
                        "example": "example@example.com",
                        "maxLength": 255
                      },
                      "title": {
                        "type": "string",
                        "example": "Board Member",
                        "description": "Job Title",
                        "maxLength": 255
                      },
                      "organisationWebsite": {
                        "type": "string",
                        "format": "website",
                        "nullable": true,
                        "description": "Organisation Website link",
                        "maxLength": 255
                      },
                      "language": {
                        "type": "string",
                        "description": "Valid RFC 5646 language code",
                        "example": "en-GB"
                      }
                    },
                    "required": [
                      "firstName",
                      "lastName",
                      "email",
                      "validationRequestId"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a Agent Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentVerification"
                    },
                    "object": {
                      "type": "string",
                      "example": "agent_verification"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "OriginalCallInProgress": {
                    "$ref": "#/components/examples/Idempotency.OriginalCallInProgress"
                  },
                  "SameKeyDifferentData": {
                    "$ref": "#/components/examples/Idempotency.SameKeyDifferentData"
                  },
                  "KeyInUse": {
                    "$ref": "#/components/examples/Idempotency.KeyInUse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/agent-verifications/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Agent Verification."
        }
      ],
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Retrieve an Agent Verification",
        "tags": [
          "Agent Verifications"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a Agent Verification",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentVerification"
                    },
                    "object": {
                      "type": "string",
                      "example": "agent_verification"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Edit an Agent Verification",
        "description": "Update an Agent Verifications metadata.",
        "tags": [
          "Agent Verifications"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "description": "Metadata object that will be merged with current metadata object.",
                    "type": "object",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "description": "Max key size is 40 characters. If key matches already existing key, it will override old value",
                      "type": "string",
                      "maxLength": 250
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully update Agent Verification metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AgentVerification"
                    },
                    "object": {
                      "type": "string",
                      "example": "agent_verification"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidMetadata": {
                    "$ref": "#/components/examples/AgentVerification.InvalidMetadata"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/categories": {
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "List Categories",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a list of Categories",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Category"
                      }
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 33
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 25
                    },
                    "_links": {
                      "$ref": "#/components/schemas/CursorLinks"
                    },
                    "object": {
                      "type": "string",
                      "example": "Category"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "CursorError": {
                    "$ref": "#/components/examples/Pagination.CursorError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "summary": "Create a Category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Category name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a Category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    },
                    "object": {
                      "type": "string",
                      "example": "Category"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/v1/categories/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Category"
        }
      ],
      "patch": {
        "summary": "Edit a Category",
        "tags": [
          "Categories"
        ],
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "New Category name"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully edited a Category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    },
                    "object": {
                      "type": "string",
                      "example": "Category"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Delete a Category",
        "tags": [
          "Categories"
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted a Category"
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "Retrieve a Category",
        "tags": [
          "Categories"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a Category",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Category"
                    },
                    "object": {
                      "type": "string",
                      "example": "Category"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/categories/{categoryId}/{organisationId}": {
      "parameters": [
        {
          "in": "path",
          "name": "categoryId",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Category"
        },
        {
          "in": "path",
          "name": "organisationId",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the organisation"
        }
      ],
      "put": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Add a Organisation to a Category",
        "tags": [
          "Categories",
          "Organisation"
        ],
        "responses": {
          "200": {
            "description": "Successfully add an Organisation to a Category"
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "delete": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Remove a Organisation from a Category",
        "tags": [
          "Categories",
          "Organisation"
        ],
        "responses": {
          "204": {
            "description": "Successfully remove a Organisation from a Category"
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/categories/{categoryId}/image": {
      "parameters": [
        {
          "in": "path",
          "name": "categoryId",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Category"
        }
      ],
      "post": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Set an Image for a Category",
        "tags": [
          "Categories"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully add an image to a Category"
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "TooManyAttachments": {
                    "$ref": "#/components/examples/Upload.TooManyAttachments"
                  },
                  "ContentTypeError": {
                    "$ref": "#/components/examples/Upload.ContentTypeError"
                  },
                  "MaxFileSize": {
                    "$ref": "#/components/examples/Upload.MaxFileSize"
                  },
                  "FiletypeNotSupported": {
                    "$ref": "#/components/examples/Upload.FiletypeNotSupported"
                  },
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/v1/countries": {
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "parameters": [
          {
            "in": "query",
            "name": "hasRegistry",
            "schema": {
              "type": "boolean"
            },
            "required": false,
            "description": "Only return Countries with Registries"
          }
        ],
        "summary": "List available Countries",
        "description": "This endpoint will return all the Countries that Goodstack currently supports.  If hasRegistry is true, it will return the subset of Countries that Goodstack currently has nonprofit data for.",
        "tags": [
          "Countries"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Countries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Country"
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "Country"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/eligibility-subscriptions": {
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "List Eligibility Subscriptions",
        "description": "List Eligibility Subscriptions",
        "tags": [
          "Eligibility Subscriptions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "id"
              ]
            },
            "description": "Field to sort"
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string",
              "example": "Example organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
              "description": "Organisation ID"
            }
          },
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending_validation_request",
                "validation_request_failed",
                "pending",
                "live",
                "cancelled",
                "cannot_define_eligibility"
              ]
            }
          },
          {
            "in": "query",
            "name": "startDate",
            "schema": {
              "type": "string",
              "format": "date-time"
            },
            "description": "Start date to retrieve monitoring from.",
            "example": "2020-10-13T17:46:54.000Z"
          },
          {
            "in": "query",
            "name": "endDate",
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2020-10-13T17:46:54.000Z"
            }
          },
          {
            "in": "query",
            "name": "hasOrganisation",
            "description": "Filter eligibility subscriptions based on whether there is a recognised Organisation tied to the subscription",
            "schema": {
              "type": "boolean",
              "example": true
            }
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/direction"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a page of Eligibility Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/EligibilitySubscription"
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "eligibility_subscription"
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 33
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 25
                    },
                    "_links": {
                      "$ref": "#/components/schemas/CursorLinks"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "CursorError": {
                    "$ref": "#/components/examples/Pagination.CursorError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      },
      "post": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Create an Eligibility Subscription",
        "tags": [
          "Eligibility Subscriptions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Idempotency key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "organisationId": {
                        "type": "string"
                      },
                      "suggestedActivitySubTags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                        },
                        "nullable": true
                      }
                    },
                    "required": [
                      "organisationId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "validationRequestId": {
                        "type": "string"
                      },
                      "suggestedActivitySubTags": {
                        "type": "array",
                        "items": {
                          "type": "string",
                          "example": "activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                        },
                        "nullable": true
                      }
                    },
                    "required": [
                      "validationRequestId"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a Eligibility Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EligibilitySubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "eligibility_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "EntityNotFound": {
                    "$ref": "#/components/examples/EligibilitySubscription.EntityNotFound"
                  },
                  "OrganisationNotActive": {
                    "$ref": "#/components/examples/EligibilitySubscription.OrganisationNotActive"
                  },
                  "InvalidSubTags": {
                    "$ref": "#/components/examples/EligibilitySubscription.InvalidSubTags"
                  },
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  },
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "OriginalCallInProgress": {
                    "$ref": "#/components/examples/Idempotency.OriginalCallInProgress"
                  },
                  "SameKeyDifferentData": {
                    "$ref": "#/components/examples/Idempotency.SameKeyDifferentData"
                  },
                  "KeyInUse": {
                    "$ref": "#/components/examples/Idempotency.KeyInUse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/eligibility-subscriptions/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Eligibility Subscription."
        }
      ],
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Retrieve an single Eligibility Subscription",
        "tags": [
          "Eligibility Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved an Eligibility Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EligibilitySubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "eligibility_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Edit an Eligibility Subscription",
        "description": "Update an Eligibility Subscription's metadata.",
        "tags": [
          "Eligibility Subscriptions"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "metadata": {
                    "description": "Metadata object that will be merged with current metadata object.",
                    "type": "object",
                    "maxProperties": 20,
                    "additionalProperties": {
                      "description": "Max key size is 40 characters. If key matches already existing key, it will override old value",
                      "type": "string",
                      "maxLength": 250
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updates Eligibility Subscription's metadata",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EligibilitySubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "eligibility_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "InvalidMetadata": {
                    "$ref": "#/components/examples/EligibilitySubscription.InvalidMetadata"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/eligibility-subscriptions/{id}/cancel": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Eligibility Subscription."
        }
      ],
      "post": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Cancel an Eligibility Subscription",
        "tags": [
          "Eligibility Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successfully cancel an Eligibility Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/EligibilitySubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "eligibility_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "EligibilitySubscriptionAlreadyCancelled": {
                    "$ref": "#/components/examples/EligibilitySubscription.EligibilitySubscriptionAlreadyCancelled"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/monitoring-subscriptions": {
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "List Monitoring Subscriptions",
        "tags": [
          "Monitoring Subscriptions"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "id"
              ]
            },
            "description": "Field to sort by"
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "Filter by organisation name, organisation ID, or organisation registry ID.",
            "example": "save"
          },
          {
            "in": "query",
            "name": "hasOrganisation",
            "schema": {
              "type": "boolean"
            },
            "description": "Filter monitoring subscriptions based on whether there is a recognised Organisation tied to the subscription"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a page of Monitoring Subscriptions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MonitoringSubscription"
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "monitoring_subscription"
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 33
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 25
                    },
                    "_links": {
                      "$ref": "#/components/schemas/CursorLinks"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "CursorError": {
                    "$ref": "#/components/examples/Pagination.CursorError"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      },
      "post": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Create a Monitoring Subscription",
        "tags": [
          "Monitoring Subscriptions"
        ],
        "parameters": [
          {
            "in": "header",
            "name": "Idempotency-Key",
            "schema": {
              "type": "string"
            },
            "required": false,
            "description": "Idempotency key"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "type": "object",
                    "properties": {
                      "organisationId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "organisationId"
                    ]
                  },
                  {
                    "type": "object",
                    "properties": {
                      "validationRequestId": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "validationRequestId"
                    ]
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a Monitoring Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MonitoringSubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "monitoring_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "EntityNotFound": {
                    "$ref": "#/components/examples/MonitoringSubscription.EntityNotFound"
                  },
                  "OrganisationNotActive": {
                    "$ref": "#/components/examples/MonitoringSubscription.OrganisationNotActive"
                  },
                  "BadRequest": {
                    "$ref": "#/components/examples/BadRequest"
                  },
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  },
                  "OriginalCallInProgress": {
                    "$ref": "#/components/examples/Idempotency.OriginalCallInProgress"
                  },
                  "SameKeyDifferentData": {
                    "$ref": "#/components/examples/Idempotency.SameKeyDifferentData"
                  },
                  "KeyInUse": {
                    "$ref": "#/components/examples/Idempotency.KeyInUse"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/monitoring-subscriptions/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Monitoring Subscription."
        }
      ],
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Retrieve a Monitoring Subscription",
        "tags": [
          "Monitoring Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a Monitoring Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MonitoringSubscription"
                    },
                    "object": {
                      "type": "string",
                      "example": "monitoring_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/monitoring-subscriptions/{id}/cancel": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Monitoring Subscription."
        }
      ],
      "post": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Cancel a Monitoring Subscription",
        "tags": [
          "Monitoring Subscriptions"
        ],
        "responses": {
          "200": {
            "description": "Successfully cancelled a Monitoring Subscription",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/MonitoringSubscriptionCancelledResponseData"
                    },
                    "object": {
                      "type": "string",
                      "example": "monitoring_subscription"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "MonitoringSubscriptionAlreadyCancelled": {
                    "$ref": "#/components/examples/MonitoringSubscription.MonitoringSubscriptionAlreadyCancelled"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organisations/{id}/milestones": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the organisation"
        }
      ],
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "List an Organisations Milestones",
        "tags": [
          "Organisations"
        ],
        "responses": {
          "200": {
            "description": "Successfully list an Organisations milestones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Milestone"
                    },
                    "object": {
                      "type": "string",
                      "example": "milestone"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/organisations": {
      "parameters": [
        {
          "in": "query",
          "name": "countryCode",
          "schema": {
            "type": "string"
          },
          "description": "Filter search by three-letter ISO country code"
        },
        {
          "in": "query",
          "name": "registryId",
          "schema": {
            "type": "string"
          },
          "description": "Filter search using an organisation’s ID within their registry. Useful with usaGroupExempt param"
        },
        {
          "in": "query",
          "name": "category[]",
          "schema": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "category_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          "required": false,
          "description": "Only return Organisations in the given Categories",
          "allowReserved": true
        },
        {
          "in": "query",
          "name": "notCategory[]",
          "schema": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "category_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
            }
          },
          "required": false,
          "description": "Do not return Organisations in the given Categories",
          "allowReserved": true
        },
        {
          "in": "query",
          "name": "tags[]",
          "schema": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "aus-dgr1"
            }
          },
          "required": false,
          "description": "Only return Organisations with the specified tags. To fetch organisations with tag X AND Y use the following `?tags[]=X&tags[]=Y`. To fetch organisations with tag X OR Y use the following `?tags[]=X,Y`.",
          "allowReserved": true
        },
        {
          "in": "query",
          "name": "notTags[]",
          "schema": {
            "type": "array",
            "items": {
              "type": "string",
              "example": "aus-dgr4"
            }
          },
          "required": false,
          "description": "Do not return Organisations with the specified tags. To fetch organisations with tag X AND NOT with Y use the following `?tags[]=X&notTags[]=Y`. To fetch organisations with not include tag X OR Y use the following `?notTags[]=X,Y`. To fetch organisations with not include tag X AND Y use the following `?notTags[]=X&notTags[]=Y`",
          "allowReserved": true
        },
        {
          "in": "query",
          "name": "type[]",
          "schema": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "nonprofit"
              ]
            }
          },
          "required": false,
          "description": "Restrict search to a single type of organisation.",
          "allowReserved": true
        },
        {
          "in": "query",
          "name": "query",
          "schema": {
            "type": "string",
            "example": "cancer research",
            "maxLength": 500
          },
          "required": false,
          "description": "Search for organisations by name. Must not exceed 500 characters or 512 bytes."
        },
        {
          "in": "query",
          "name": "usaGroupExempt",
          "schema": {
            "type": "boolean"
          },
          "description": "Filter search by USA-specific group exempt. Recommended to use with registryId param",
          "required": false
        },
        {
          "$ref": "#/components/parameters/page"
        },
        {
          "$ref": "#/components/parameters/pageSize"
        }
      ],
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "Search Organisations",
        "description": "Search for nonprofits. The Organisations search API provides up to 1,000 results for each search that are accessible by pagination. The boolean field `exhaustiveTotalResults` indicates whether the totalResults are exhaustive (true) or approximate (false).",
        "tags": [
          "Organisations"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a page of organisations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Organisation"
                      }
                    },
                    "totalResults": {
                      "type": "integer",
                      "example": 33
                    },
                    "pageNumber": {
                      "type": "integer",
                      "example": 1
                    },
                    "pageSize": {
                      "type": "integer",
                      "example": 25
                    },
                    "_links": {
                      "$ref": "#/components/schemas/OffsetLinks"
                    },
                    "exhaustiveTotalResults": {
                      "type": "boolean",
                      "description": "whether the totalResults are exhaustive (true) or approximate (false)"
                    },
                    "object": {
                      "type": "string",
                      "example": "organisation"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/organisations/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the organisation"
        }
      ],
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "Retrieve an Organisation",
        "tags": [
          "Organisations"
        ],
        "responses": {
          "200": {
            "description": "Retrieve a nonprofit Organisation",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/Organisation"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "types": {
                              "type": "array",
                              "items": {
                                "type": "string",
                                "enum": [
                                  "nonprofit",
                                  "social_impact",
                                  "education"
                                ]
                              }
                            }
                          }
                        }
                      ]
                    },
                    "object": {
                      "type": "string",
                      "example": "Organisation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organisations/{countryCode}/{registry}/{registryId}": {
      "parameters": [
        {
          "in": "path",
          "name": "countryCode",
          "schema": {
            "type": "string"
          },
          "description": "3 letter ISO-3166 alpha 3 identifier of the country",
          "required": true
        },
        {
          "in": "path",
          "name": "registry",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the registry"
        },
        {
          "in": "path",
          "name": "registryId",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the Organisation within the registry"
        }
      ],
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "Retrieve an Organisation by country code, registry and registryId",
        "tags": [
          "Organisations"
        ],
        "responses": {
          "200": {
            "description": "Retrieve a Organisation by country code, registry and registryId",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Organisation"
                    },
                    "object": {
                      "type": "string",
                      "example": "Organisation"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/organisations/{id}/profile": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the organisation"
        }
      ],
      "get": {
        "summary": "Retrieve an Organisation profile info",
        "tags": [
          "Organisations"
        ],
        "responses": {
          "200": {
            "description": "Retrieve a nonprofit Organisation profile",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "Lemon rescue nonprofit"
                        },
                        "displayName": {
                          "type": "string",
                          "example": "Lemon Team",
                          "nullable": true
                        },
                        "description": {
                          "type": "string",
                          "example": "Lemon Team",
                          "nullable": true
                        },
                        "logo": {
                          "type": "string",
                          "example": "https://logo-url.com/the-logo.png",
                          "nullable": true
                        }
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "organisation_profile"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/registries": {
      "parameters": [
        {
          "in": "query",
          "name": "countryCode",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "3 letter ISO-3166 alpha 3 identifier of the country"
        }
      ],
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "List Registries",
        "tags": [
          "Registries"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved Registries for a Country",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Registry"
                      }
                    },
                    "object": {
                      "type": "string",
                      "example": "Registry"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/IncorrectParams"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/registries/{id}": {
      "parameters": [
        {
          "in": "path",
          "name": "id",
          "schema": {
            "type": "string"
          },
          "required": true,
          "description": "Id of the registry"
        }
      ],
      "get": {
        "security": [
          {
            "PublishableApiKey": []
          }
        ],
        "summary": "Retrieve a Registry",
        "tags": [
          "Registries"
        ],
        "responses": {
          "200": {
            "description": "Successfully retrieved a Registry",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Registry"
                    },
                    "object": {
                      "type": "string",
                      "example": "Registry"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/validation-invites": {
      "post": {
        "summary": "Create a Validation Invite",
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "tags": [
          "Validation Invites"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "redirectUrl": {
                    "type": "string",
                    "format": "url",
                    "maxLength": 255,
                    "description": "Url that the hosted form redirects to after the flow is completed",
                    "example": "https://example.com/finish"
                  },
                  "metadata": {
                    "type": "object",
                    "description": "You can use this parameter to attach key-value data to a Validation Invite"
                  },
                  "language": {
                    "type": "string",
                    "description": "Valid RFC 5646 language code",
                    "example": "en-GB"
                  },
                  "hostedConfigId": {
                    "type": "string",
                    "description": "Hosted configuration id",
                    "example": "hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created a Validation Invite",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ValidationInvite"
                    },
                    "object": {
                      "type": "string",
                      "example": "validation_invite"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "IncorrectParams": {
                    "$ref": "#/components/examples/IncorrectParams"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/ForbiddenScope"
          }
        }
      }
    },
    "/v1/validation-requests": {
      "get": {
        "security": [
          {
            "SecretApiKey": []
          }
        ],
        "summary": "List Validation Requests",
        "tags": [
          "Validation Requests"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "status",
            "schema": {
              "type": "string",
              "enum": [
                "pending",
                "accepted",
                "rejected"
              ]
            },
            "description": "Filter for status of Validation Request",
            "example": "pending"
          },
          {
            "in": "query",
            "name": "query",
            "schema": {
              "type": "string"
            },
            "description": "filter for name of ValidationRequest or assigned Organisation"
          },
          {
            "in": "query",
            "name": "sort",
            "schema": {
              "type": "string",
              "enum": [
                "id",
                "name"
              ]
            },
            "description": "Field to sort by",
            "example": "name"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully listed Validation Requests",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
[...]
