openapi: 3.2.0
info:
  title: Goodstack Services Monitoring Subscriptions API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Monitoring Subscriptions
paths:
  /v1/monitoring-subscriptions:
    get:
      security:
      - SecretApiKey: []
      summary: List Monitoring Subscriptions
      tags:
      - Monitoring Subscriptions
      parameters:
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - id
        description: Field to sort by
      - in: query
        name: query
        schema:
          type: string
        description: Filter by organisation name, organisation ID, or organisation registry ID.
        example: save
      - in: query
        name: hasOrganisation
        schema:
          type: boolean
        description: Filter monitoring subscriptions based on whether there is a recognised Organisation tied to the subscription
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully retrieved a page of Monitoring Subscriptions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/MonitoringSubscription'
                  object:
                    type: string
                    example: monitoring_subscription
                  totalResults:
                    type: integer
                    example: 33
                  pageSize:
                    type: integer
                    example: 25
                  _links:
                    $ref: '#/components/schemas/CursorLinks'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParams:
                  $ref: '#/components/examples/IncorrectParams'
                CursorError:
                  $ref: '#/components/examples/Pagination.CursorError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: getV1MonitoringSubscriptions
      x-operation-id-source: derived
    post:
      security:
      - SecretApiKey: []
      summary: Create a Monitoring Subscription
      tags:
      - Monitoring Subscriptions
      parameters:
      - in: header
        name: Idempotency-Key
        schema:
          type: string
        required: false
        description: Idempotency key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  organisationId:
                    type: string
                required:
                - organisationId
              - type: object
                properties:
                  validationRequestId:
                    type: string
                required:
                - validationRequestId
      responses:
        '200':
          description: Successfully created a Monitoring Subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MonitoringSubscription'
                  object:
                    type: string
                    example: monitoring_subscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                EntityNotFound:
                  $ref: '#/components/examples/MonitoringSubscription.EntityNotFound'
                OrganisationNotActive:
                  $ref: '#/components/examples/MonitoringSubscription.OrganisationNotActive'
                BadRequest:
                  $ref: '#/components/examples/BadRequest'
                IncorrectParams:
                  $ref: '#/components/examples/IncorrectParams'
                OriginalCallInProgress:
                  $ref: '#/components/examples/Idempotency.OriginalCallInProgress'
                SameKeyDifferentData:
                  $ref: '#/components/examples/Idempotency.SameKeyDifferentData'
                KeyInUse:
                  $ref: '#/components/examples/Idempotency.KeyInUse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: postV1MonitoringSubscriptions
      x-operation-id-source: derived
  /v1/monitoring-subscriptions/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Id of the Monitoring Subscription.
    get:
      security:
      - SecretApiKey: []
      summary: Retrieve a Monitoring Subscription
      tags:
      - Monitoring Subscriptions
      responses:
        '200':
          description: Successfully retrieved a Monitoring Subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MonitoringSubscription'
                  object:
                    type: string
                    example: monitoring_subscription
        '400':
          $ref: '#/components/responses/IncorrectParams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV1MonitoringSubscriptionsById
      x-operation-id-source: derived
  /v1/monitoring-subscriptions/{id}/cancel:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Id of the Monitoring Subscription.
    post:
      security:
      - SecretApiKey: []
      summary: Cancel a Monitoring Subscription
      tags:
      - Monitoring Subscriptions
      responses:
        '200':
          description: Successfully cancelled a Monitoring Subscription
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/MonitoringSubscriptionCancelledResponseData'
                  object:
                    type: string
                    example: monitoring_subscription
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                MonitoringSubscriptionAlreadyCancelled:
                  $ref: '#/components/examples/MonitoringSubscription.MonitoringSubscriptionAlreadyCancelled'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: postV1MonitoringSubscriptionsByIdCancel
      x-operation-id-source: derived
components:
  examples:
    MonitoringSubscription.MonitoringSubscriptionAlreadyCancelled:
      summary: Monitoring Subscription already cancelled
      description: Monitoring Subscription already cancelled
      value:
        error:
          code: monitoring_subscription/monitoring_subscription_already_cancelled
          title: Bad request
          message: Monitoring subscription is already cancelled
    MonitoringSubscription.OrganisationNotActive:
      summary: 400 Bad request
      description: Organisation is not active
      value:
        error:
          code: monitoring_subscription/organisation_not_active
          title: Bad request
          message: Organisation is not active
    Idempotency.OriginalCallInProgress:
      summary: Idempotency - Original call in progress
      description: Original call with this idempotency key is still in progress, please wait and try again
      value:
        error:
          code: idempotency/original_call_in_progress
          title: Bad request
          message: Original call with this idempotency key is still in progress
    IncorrectParams:
      summary: 400 Incorrect Parameters
      description: Bad Request - Incorrect parameters
      value:
        error:
          code: bad_request
          title: Bad request
          message: One or more of the inputs were invalid
          reasons:
          - pageSize must be greater than or equal to 0
    Pagination.CursorError:
      summary: Error in cursor parameter
      description: We were unable to decode the cursor
      value:
        error:
          code: pagination/cursor_error
          title: Bad request
          message: Unable to find the next page
    Idempotency.KeyInUse:
      summary: Idempotency - Key in use
      description: Idempotency Key is already in use
      value:
        error:
          code: idempotency/key_already_in_use
          title: Bad request
          message: Idempotency Key is already in use
    Idempotency.SameKeyDifferentData:
      summary: Idempotency - Data has changed from previous request
      description: Data has changed from previous request with this key
      value:
        error:
          code: idempotency/same_key_different_data
          title: Bad request
          message: Data has changed from previous request
    BadRequest:
      summary: 400 Bad Request
      description: Bad Request
      value:
        error:
          code: bad_request
          title: Bad request
          message: Something is wrong with your request, please check any parameters and try again
    MonitoringSubscription.EntityNotFound:
      summary: Subscription Entity Not Found
      description: Subscription Entity Not Found
      value:
        error:
          code: monitoring_subscription/entity_not_found
          title: Bad request
          message: Organisation or validation request was not found
  responses:
    ForbiddenScope:
      description: Forbidden (scope)
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  title:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Access is denied due to missing scope permissions
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  title:
                    type: string
                    example: Resource not found
                  message:
                    type: string
                    example: This endpoint is unavailable or can not be found
    Unauthorized:
      description: Unauthorized
    IncorrectParams:
      description: Error validating inputs
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: bad_request
                  title:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: One or more of the inputs were invalid
                  reasons:
                    type: array
                    items:
                      type: string
                      example: pageSize must be greater than or equal to 0
  schemas:
    MonitoringSubscriptionCancelledResponseData:
      type: object
      properties:
        id:
          type: string
          example: monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        organisationId:
          type:
          - string
          - 'null'
          example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        validationRequestId:
          type:
          - string
          - 'null'
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        status:
          type: string
          example: cancelled
          enum:
          - cancelled
        createdAt:
          type: string
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
    CursorLinks:
      type: object
      properties:
        current:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        next:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        prev:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
    MonitoringSubscription:
      type: object
      properties:
        id:
          type: string
          example: monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        organisationId:
          type:
          - string
          - 'null'
          example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        validationRequestId:
          type:
          - string
          - 'null'
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        status:
          type: string
          example: live
          enum:
          - live
          - pending_validation_request
          - validation_request_failed
          - pending
          - cancelled
        configurationId:
          type: string
          example: hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        results:
          $ref: '#/components/schemas/MonitoringSubscriptionResults'
        createdAt:
          type: string
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        organisation:
          type: object
          properties:
            name:
              type:
              - string
              - 'null'
              example: Name of the organisation the Monitoring Subscription is attached to
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            message:
              type: string
            reasons:
              type:
              - array
              - 'null'
              items:
                type: string
    MonitoringSubscriptionResults:
      type: object
      properties:
        complianceStatus:
          type:
          - string
          - 'null'
          enum:
          - pass
          - fail
          example: fail
        registration:
          type: object
          properties:
            active:
              type: string
              enum:
              - 'yes'
              - 'no'
              example: 'no'
        warning:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        sanction:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        controversial:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        commercial:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        adverseMedia:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: clear
        hateSpeech:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
  parameters:
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
        example: eyJ2IjoxLCJkIjoibmV4dCIsImlkIjoiZG9uYXRpb25fMDAwMDAwQnc3U1BhMHBxOHBRMFFsckVaWGFaN3AifQ%3D%3D
      description: A cursor that points to where to start the page
    pageSize:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 0
        default: 25
      description: How many items per page, for pagination.
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
