openapi: 3.2.0
info:
  title: Goodstack Services Validation Submissions API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Validation Submissions
paths:
  /v1/validation-submissions:
    get:
      security:
      - SecretApiKey: []
      summary: List Validation Submissions
      tags:
      - Validation Submissions
      parameters:
      - $ref: '#/components/parameters/direction'
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/pageSize'
      - in: query
        name: status
        deprecated: true
        schema:
          type: string
          enum:
          - pending
          - processed
          - failed
          - succeeded
        description: Filter by Validation Submission status
      - in: query
        name: statuses
        schema:
          type: array
          items:
            type: string
            enum:
            - pending
            - processed
            - failed
            - succeeded
        description: Filter by multiple statuses
      - in: query
        name: configurationIds
        schema:
          type: array
          items:
            type: string
        description: Filter by multiple configuration ids
      - in: query
        name: email
        schema:
          type: string
          description: Filter by agent verification email
      - in: query
        name: validationRequestIds
        schema:
          type: array
          items:
            type: string
          description: Filter by validation request ids
      - in: query
        name: organisationIds
        schema:
          type: array
          items:
            type: string
          description: Filter by organisation ids
      - in: query
        name: query
        schema:
          type: string
        description: Search by agent verification email, organisation name or validation request name
        example: example@example.com
      - in: query
        name: countryCodes
        schema:
          type: array
          items:
            type: string
          description: Filter by 3-letter ISO country code
      responses:
        '200':
          description: Successfully retrieved list of Validation Submissions
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/ValidationSubmission'
                      - type: object
                        properties:
                          agentVerificationEmail:
                            type:
                            - string
                            - 'null'
                            deprecated: true
                          agentVerificationFirstName:
                            type:
                            - string
                            - 'null'
                            deprecated: true
                          agentVerificationLastName:
                            type:
                            - string
                            - 'null'
                            deprecated: true
                  object:
                    type: string
                    example: validation_submission
                  totalResults:
                    type: integer
                    example: 33
                  pageSize:
                    type: integer
                    example: 25
                  _links:
                    $ref: '#/components/schemas/CursorLinks'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParams:
                  $ref: '#/components/examples/IncorrectParams'
                CursorError:
                  $ref: '#/components/examples/Pagination.CursorError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: getV1ValidationSubmissions
      x-operation-id-source: derived
    post:
      security:
      - SecretApiKey: []
      summary: Create a Validation Submission
      tags:
      - Validation Submissions
      parameters:
      - in: header
        name: Idempotency-Key
        schema:
          type: string
        required: false
        description: Idempotency key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
              - type: object
                properties:
                  configurationId:
                    type: string
                    description: Id of the Validation Submission Configuration associated with submission
                    example: hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  organisationName:
                    type: string
                    description: Name of organisation
                    maxLength: 255
                  registryName:
                    type: string
                    description: Name of organisation's registry
                    maxLength: 255
                  registryId:
                    type: string
                    description: Organisations's id in registry
                  organisationEmail:
                    type: string
                    description: Organisation's email
                    example: test@goodstack.internal
                    maxLength: 255
                  addressLine1:
                    type: string
                    description: Organisation's address line 1
                    example: 44 Clipstone St
                    maxLength: 255
                  addressLine2:
                    type: string
                    description: Organisation's address line 2
                    example: House 40, Threeways
                    maxLength: 255
                  city:
                    type: string
                    description: Organisation's city
                    example: London
                    maxLength: 255
                  postal:
                    type: string
                    description: Organisation's postal code
                    example: W1W 5DW
                    maxLength: 255
                  state:
                    type: string
                    description: Organisation's state
                    example: Texas
                    maxLength: 255
                  website:
                    type: string
                    description: Organisation's website
                    format: website
                    example: https://example.com
                    maxLength: 255
                  countryCode:
                    type: string
                    description: Three-letter ISO country code
                    example: POL
                  firstName:
                    type: string
                    description: First name of Agent
                    example: Max
                    maxLength: 255
                  lastName:
                    type: string
                    description: Last name of Agent
                    example: Plank
                    maxLength: 255
                  email:
                    type: string
                    description: Email of Agent
                    example: test@goodstack.internal
                    maxLength: 255
                  title:
                    type: string
                    example: Board Member
                    description: Agent's job title
                    maxLength: 255
                  language:
                    type: string
                    description: Valid RFC 5646 language code
                    example: en-GB
                  metadata:
                    description: Metadata object.
                    type: object
                    maxProperties: 20
                    additionalProperties:
                      description: Max key size is 40 characters
                      type: string
                      maxLength: 250
                required:
                - organisationName
                - registryName
                - registryId
                - website
                - countryCode
                - language
                title: New Organisation
              - type: object
                properties:
                  configurationId:
                    type: string
                    description: Id of the Validation Submission Configuration
                    example: hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  organisationId:
                    type: string
                    description: OrganisationId of the Agent
                    example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  firstName:
                    type: string
                    description: First name of Agent
                    example: Max
                    maxLength: 255
                  lastName:
                    type: string
                    description: Last name of Agent
                    example: Plank
                    maxLength: 255
                  email:
                    type: string
                    description: Email of Agent
                    example: test@goodstack.internal
                    maxLength: 255
                  title:
                    type: string
                    example: Board Member
                    description: Agent's job title
                    maxLength: 255
                  website:
                    type: string
                    description: Organization's website
                    format: website
                    example: https://goodstack.internal
                    maxLength: 255
                  language:
                    type: string
                    description: Valid RFC 5646 language code
                    example: en-GB
                  metadata:
                    description: Metadata object.
                    type: object
                    maxProperties: 20
                    additionalProperties:
                      description: Max key size is 40 characters. If key matches already existing key, it will override old value
                      type: string
                      maxLength: 250
                required:
                - organisationId
                - language
                title: Existing Organisation
      responses:
        '200':
          description: Successfully created a Validation Submission
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/SingleApiValidationSubmission'
                  object:
                    type: string
                    example: validation_submission
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                OrganisationNotFound:
                  $ref: '#/components/examples/ValidationSubmission.OrganisationNotFound'
                OrganisationNotActive:
                  $ref: '#/components/examples/ValidationSubmission.OrganisationNotActive'
                ValidationSubmissionDocumentNotFound:
                  $ref: '#/components/examples/ValidationSubmission.ValidationSubmissionDocumentNotFound'
                ValidationRequestNotFound:
                  $ref: '#/components/examples/ValidationSubmission.ValidationRequestNotFound'
                ValidationRequestAlreadyRejected:
                  $ref: '#/components/examples/ValidationSubmission.ValidationRequestAlreadyRejected'
                EntityNotFound:
                  $ref: '#/components/examples/ValidationSubmission.EntityNotFound'
                InvalidSubTags:
                  $ref: '#/components/examples/ValidationSubmission.InvalidSubTags'
                InvalidConfiguration:
                  $ref: '#/components/examples/ValidationSubmission.InvalidConfiguration'
                OriginalCallInProgress:
                  $ref: '#/components/examples/Idempotency.OriginalCallInProgress'
                SameKeyDifferentData:
                  $ref: '#/components/examples/Idempotency.SameKeyDifferentData'
                KeyInUse:
                  $ref: '#/components/examples/Idempotency.KeyInUse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: postV1ValidationSubmissions
      x-operation-id-source: derived
  /v1/validation-submissions/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Id of the Validation Submission.
    get:
      security:
      - SecretApiKey: []
      summary: Retrieve a Validation Submission
      tags:
      - Validation Submissions
      responses:
        '200':
          description: Successfully retrieves a Validation Submission
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    allOf:
                    - $ref: '#/components/schemas/ValidationSubmission'
                    - type: object
                      properties:
                        agentVerificationEmail:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        agentVerificationFirstName:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        agentVerificationLastName:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                        agentVerificationRejectionReason:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                          enum:
                          - Validation request failed
                          - User verification expired
                          - Identity check failed
                          - No evidence agent’s email is associated with organisation
                          - Agent/nonprofit will reapply
                          - Agent used fake or test email
                          - No online presence to complete check
                          - Other
                        agentVerificationRejectionReasonCode:
                          type:
                          - string
                          - 'null'
                          deprecated: true
                          enum:
                          - validation_request_failed
                          - user_verification_expired
                          - user_failed_percent_review
                          - invalid_documentation
                          - reapply
                          - fake_email_used
                          - no_online_presence
                          - fake_documentation
                          - mismatched_information
                          - blank_corrupted_documentation
                          - suspicious_application
                          - other
                        agentVerificationStatus:
                          type: string
                          deprecated: true
                          enum:
                          - pending
                          - pending_user_verification
                          - pending_review
                          - approved
                          - rejected
                        validationRequestAcceptedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2022-02-02T17:46:54.000Z'
                          deprecated: true
                        validationRequestRejectedAt:
                          type:
                          - string
                          - 'null'
                          format: date-time
                          example: '2022-02-02T17:46:54.000Z'
                          deprecated: true
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV1ValidationSubmissionsById
      x-operation-id-source: derived
components:
  examples:
    ValidationSubmission.InvalidConfiguration:
      summary: 404 Not Found
      description: Provided configurationId is not valid
      value:
        error:
          code: validation_submission/invalid_configuration_id
          title: Not Found
          message: Provided configurationId is not valid
    ValidationSubmission.OrganisationNotActive:
      summary: 400 Bad request
      description: Organisation is not active
      value:
        error:
          code: validation_submission/organisation_not_active
          title: Bad request
          message: Organisation is not active
    ValidationSubmission.ValidationSubmissionDocumentNotFound:
      summary: 400 Bad request
      description: Validation submission document was not found
      value:
        error:
          code: validation_submission/validation_submission_document_not_found
          title: Bad request
          message: Validation submission document was not found
    Idempotency.OriginalCallInProgress:
      summary: Idempotency - Original call in progress
      description: Original call with this idempotency key is still in progress, please wait and try again
      value:
        error:
          code: idempotency/original_call_in_progress
          title: Bad request
          message: Original call with this idempotency key is still in progress
    IncorrectParams:
      summary: 400 Incorrect Parameters
      description: Bad Request - Incorrect parameters
      value:
        error:
          code: bad_request
          title: Bad request
          message: One or more of the inputs were invalid
          reasons:
          - pageSize must be greater than or equal to 0
    ValidationSubmission.ValidationRequestAlreadyRejected:
      summary: 400 Bad request
      description: Validation request already rejected
      value:
        error:
          code: validation_submission/validation_request_already_rejected
          title: Bad request
          message: Validation request already rejected
    ValidationSubmission.InvalidSubTags:
      summary: 400 Bad request
      description: At least one of provided subtags is invalid
      value:
        error:
          code: validation_submission/invalid_sub_tags
          title: Bad request
          message: At least one of provided subtags is invalid
    Pagination.CursorError:
      summary: Error in cursor parameter
      description: We were unable to decode the cursor
      value:
        error:
          code: pagination/cursor_error
          title: Bad request
          message: Unable to find the next page
    ValidationSubmission.EntityNotFound:
      summary: 400 Bad request
      description: Organisation or validation request was not found
      value:
        error:
          code: validation_submission/entity_not_found
          title: Bad request
          message: Organisation or validation request was not found
    ValidationSubmission.OrganisationNotFound:
      summary: 400 Bad request
      description: Organisation was not found
      value:
        error:
          code: validation_submission/organisation_not_found
          title: Bad request
          message: Organisation was not found
    Idempotency.KeyInUse:
      summary: Idempotency - Key in use
      description: Idempotency Key is already in use
      value:
        error:
          code: idempotency/key_already_in_use
          title: Bad request
          message: Idempotency Key is already in use
    ValidationSubmission.ValidationRequestNotFound:
      summary: 400 Bad request
      description: Validation request not found
      value:
        error:
          code: validation_submission/validation_request_not_found
          title: Bad request
          message: Validation request was not found
    Idempotency.SameKeyDifferentData:
      summary: Idempotency - Data has changed from previous request
      description: Data has changed from previous request with this key
      value:
        error:
          code: idempotency/same_key_different_data
          title: Bad request
          message: Data has changed from previous request
  schemas:
    SingleApiValidationSubmission:
      type: object
      properties:
        id:
          type: string
          example: validationsubmission_xxxxxxxxxxxx
        validationInviteId:
          type:
          - string
          - 'null'
          example: validationinvite_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        status:
          type: string
          example: pending
          enum:
          - pending
          - failed
          - succeeded
          - processed
        processedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2022-02-02T17:46:54.000Z'
        organisationId:
          type:
          - string
          - 'null'
          example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        organisationName:
          type:
          - string
          - 'null'
        monitoringSubscriptionId:
          type:
          - string
          - 'null'
          example: monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        eligibilitySubscriptionId:
          type:
          - string
          - 'null'
          example: eligibilitysubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        createdAt:
          type: string
          format: date-time
          example: '2022-02-02T17:46:54.000Z'
        agentVerificationId:
          type:
          - string
          - 'null'
          example: agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        agentVerification:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            email:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            status:
              type: string
              enum:
              - pending
              - pending_user_verification
              - pending_review
              - approved
              - rejected
            rejectionReason:
              type:
              - string
              - 'null'
              deprecated: true
              description: Reason for rejecting agent verification
              enum:
              - Validation request failed
              - User verification expired
              - Identity check failed
              - No evidence agent’s email is associated with organisation
              - Agent/nonprofit will reapply
              - Agent used fake or test email
              - No online presence to complete check
              - Nonprofit association expired
              - Other
            rejectionReasonCode:
              type:
              - string
              - 'null'
              description: Reason code for rejecting agent verification
              enum:
              - validation_request_failed
              - user_verification_expired
              - user_failed_percent_review
              - reapply
              - fake_email_used
              - no_online_presence
              - invalid_documentation
              - nonprofit_association_expired
              - fake_documentation
              - mismatched_information
              - blank_corrupted_documentation
              - suspicious_application
              - other
        validationRequestId:
          type:
          - string
          - 'null'
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        validationRequest:
          type:
          - object
          - 'null'
          properties:
            acceptedAt:
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-02-02T17:46:54.000Z'
            rejectedAt:
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-02-02T17:46:54.000Z'
            id:
              type: string
              example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            name:
              type:
              - string
              - 'null'
            organisationTypes:
              type: array
              items:
                type: string
                enum:
                - nonprofit
                - social_impact
        eligibility:
          type: object
          properties:
            status:
              type: string
              example: live
              enum:
              - live
              - pending_validation_request
              - validation_request_failed
              - pending
              - cancelled
              - cannot_define_eligibility
            results:
              type: object
              properties:
                eligibilityStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - pass
                  - fail
                  example: fail
                confirmedActivitySubTags:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    example: activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                rejectedActivitySubTags:
                  description: Confirmed organisation's activity subtags that are not allowed in partner's configuration
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    example: activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        monitoring:
          type: object
          properties:
            status:
              type: string
              example: live
              enum:
              - live
              - pending_validation_request
              - validation_request_failed
              - pending
              - cancelled
            results:
              $ref: '#/components/schemas/MonitoringSubscriptionResults'
        metadata:
          type:
          - object
          - 'null'
          description: '[Key-value data](/#section/Formats/Metadata) that you can attach to an object.

            '
          example:
            key1: value1
            key2: value2
        partnerFields:
          type:
          - object
          - 'null'
          description: Responses for custom partner questions
          example:
            key1: value1
            key2: value2
        configuration:
          type: object
          properties:
            id:
              type: string
              description: Validation Submission configuration id
              example: hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            name:
              type:
              - string
              - 'null'
              description: Validation Submission configuration name
            allowedOrganisations:
              type: object
              properties:
                types:
                  type: array
                  items:
                    type: string
                    enum:
                    - social_impact
                    - nonprofit
                    - education
    ValidationSubmission:
      type: object
      properties:
        id:
          type: string
          example: validationsubmission_xxxxxxxxxxxx
        validationInviteId:
          type:
          - string
          - 'null'
          example: validationinvite_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        status:
          type: string
          example: pending
          enum:
          - pending
          - processed
          - failed
          - succeeded
        organisationId:
          type:
          - string
          - 'null'
          example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        organisationName:
          type:
          - string
          - 'null'
        validationRequestId:
          type:
          - string
          - 'null'
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        validationRequestName:
          type:
          - string
          - 'null'
          deprecated: true
        validationRequest:
          type:
          - object
          - 'null'
          properties:
            acceptedAt:
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-02-02T17:46:54.000Z'
            rejectedAt:
              type:
              - string
              - 'null'
              format: date-time
              example: '2022-02-02T17:46:54.000Z'
            id:
              type: string
              example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            name:
              type: string
            organisationTypes:
              type: array
              items:
                type: string
                enum:
                - nonprofit
                - social_impact
        monitoringSubscriptionId:
          type:
          - string
          - 'null'
          example: monitoringsubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        agentVerificationId:
          type:
          - string
          - 'null'
          example: agentverification_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        agentVerification:
          type:
          - object
          - 'null'
          properties:
            id:
              type: string
              example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            email:
              type: string
            firstName:
              type: string
            lastName:
              type: string
            status:
              type: string
              enum:
              - pending
              - pending_user_verification
              - pending_review
              - approved
              - rejected
            rejectionReason:
              type:
              - string
              - 'null'
              deprecated: true
              description: Reason for rejecting agent verification
              enum:
              - Validation request failed
              - User verification expired
              - Identity check failed
              - No evidence agent’s email is associated with organisation
              - Agent/nonprofit will reapply
              - Agent used fake or test email
              - No online presence to complete check
              - Nonprofit association expired
              - Other
            rejectionReasonCode:
              type:
              - string
              - 'null'
              description: Reason code for rejecting agent verification
              enum:
              - validation_request_failed
              - user_verification_expired
              - user_failed_percent_review
              - reapply
              - fake_email_used
              - no_online_presence
              - nonprofit_association_expired
              - invalid_documentation
              - fake_documentation
              - mismatched_information
              - blank_corrupted_documentation
              - suspicious_application
              - other
            language:
              type: string
              example: en-GB
              default: en-GB
        eligibilitySubscriptionId:
          type:
          - string
          - 'null'
          example: eligibilitysubscription_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        eligibility:
          type: object
          properties:
            status:
              type: string
              example: live
              enum:
              - live
              - pending_validation_request
              - validation_request_failed
              - pending
              - cancelled
              - cannot_define_eligibility
            results:
              type: object
              properties:
                eligibilityStatus:
                  type:
                  - string
                  - 'null'
                  enum:
                  - pass
                  - fail
                  example: fail
                confirmedActivitySubTags:
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    example: activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                rejectedActivitySubTags:
                  description: Confirmed organisation's activity subtags that are not allowed in partner's configuration
                  type:
                  - array
                  - 'null'
                  items:
                    type: string
                    example: activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        organisation:
          type:
          - object
          - 'null'
          properties:
            name:
              type:
              - string
              - 'null'
              example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            countryCode:
              type: string
              example: AUS
              description: 3-letter ISO country code
        processedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2022-02-02T17:46:54.000Z'
        createdAt:
          type: string
          format: date-time
          example: '2022-02-02T17:46:54.000Z'
        metadata:
          type:
          - object
          - 'null'
          description: '[Key-value data](/#section/Formats/Metadata) that you can attach to an object.

            '
          example:
            key1: value1
            key2: value2
        partnerFields:
          type:
          - object
          - 'null'
          description: Responses for custom partner questions
          example:
            key1: value1
            key2: value2
        configuration:
          type: object
          properties:
            id:
              type: string
              description: Validation Submission configuration id
              example: hostedconfiguration_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
            name:
              type:
              - string
              - 'null'
              description: Validation Submission configuration name
            allowedOrganisations:
              type: object
              properties:
                types:
                  type: array
                  items:
                    type: string
                    enum:
                    - social_impact
                    - nonprofit
                    - education
    CursorLinks:
      type: object
      properties:
        current:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        next:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        prev:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            message:
              type: string
            reasons:
              type:
              - array
              - 'null'
              items:
                type: string
    MonitoringSubscriptionResults:
      type: object
      properties:
        complianceStatus:
          type:
          - string
          - 'null'
          enum:
          - pass
          - fail
          example: fail
        registration:
          type: object
          properties:
            active:
              type: string
              enum:
              - 'yes'
              - 'no'
              example: 'no'
        warning:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        sanction:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        controversial:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        commercial:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
        adverseMedia:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: clear
        hateSpeech:
          type:
          - object
          - 'null'
          properties:
            status:
              type: string
              enum:
              - clear
              - flag
              example: flag
  responses:
    ForbiddenScope:
      description: Forbidden (scope)
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  title:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Access is denied due to missing scope permissions
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  title:
                    type: string
                    example: Resource not found
                  message:
                    type: string
                    example: This endpoint is unavailable or can not be found
    Unauthorized:
      description: Unauthorized
  parameters:
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
        example: eyJ2IjoxLCJkIjoibmV4dCIsImlkIjoiZG9uYXRpb25fMDAwMDAwQnc3U1BhMHBxOHBRMFFsckVaWGFaN3AifQ%3D%3D
      description: A cursor that points to where to start the page
    pageSize:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 0
        default: 25
      description: How many items per page, for pagination.
    direction:
      in: query
      name: direction
      required: false
      schema:
        type: string
        enum:
        - ASC
        - DESC
      description: Which way to sort by the given 'sort' field.  Default DESC
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
