openapi: 3.2.0
info:
  title: Goodstack Services Gift Aid API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Gift Aid
paths:
  /v1/gift-aid:
    post:
      summary: Create a GiftAid Declaration
      tags:
      - Gift Aid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                title:
                  type: string
                  maxLength: 255
                firstName:
                  type: string
                  maxLength: 255
                lastName:
                  type: string
                  maxLength: 255
                buildingNameNumber:
                  type: string
                  maxLength: 255
                roadName:
                  type: string
                  maxLength: 255
                city:
                  type: string
                  maxLength: 255
                country:
                  type: string
                  maxLength: 255
                postcode:
                  type: string
                  maxLength: 255
              required:
              - title
              - fullName
              - lastName
              - buildingNameNumber
              - roadName
              - city
              - country
              - postcode
      responses:
        '200':
          description: Successfully created a GiftAid declaration
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/GiftAid'
                  object:
                    type: string
                    example: gift_aid
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                UserNotFound:
                  $ref: '#/components/examples/GiftAid.UserNotFound'
                BadRequest:
                  $ref: '#/components/examples/BadRequest'
                IncorrectParams:
                  $ref: '#/components/examples/IncorrectParams'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: postV1GiftAid
      x-operation-id-source: derived
  /v1/users/{id}/has-gift-aid:
    parameters:
    - in: path
      name: id
      schema:
        type: integer
      required: true
      description: Id of the user.
    get:
      security:
      - SecretApiKey: []
      tags:
      - Gift Aid
      summary: Retrieve GiftAid id for User
      description: Returns the most recent gift aid id for a given user, returns 404 not found if no gift aid exists.
      responses:
        '200':
          description: Successfully retrieved GiftAid id for User
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: string
                        example: giftaid_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
                  object:
                    type: string
                    example: id
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV1UsersByIdHasGiftAid
      x-operation-id-source: derived
components:
  schemas:
    GiftAid:
      type: object
      properties:
        id:
          type: string
          example: giftaid_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        userId:
          type:
          - string
          - 'null'
        title:
          type: string
        firstName:
          type: string
        lastName:
          type: string
        buildingNameNumber:
          type: string
        roadName:
          type: string
        city:
          type: string
        country:
          type: string
        postcode:
          type: string
        createdAt:
          type: string
          format: date-time
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            message:
              type: string
            reasons:
              type:
              - array
              - 'null'
              items:
                type: string
  examples:
    BadRequest:
      summary: 400 Bad Request
      description: Bad Request
      value:
        error:
          code: bad_request
          title: Bad request
          message: Something is wrong with your request, please check any parameters and try again
    IncorrectParams:
      summary: 400 Incorrect Parameters
      description: Bad Request - Incorrect parameters
      value:
        error:
          code: bad_request
          title: Bad request
          message: One or more of the inputs were invalid
          reasons:
          - pageSize must be greater than or equal to 0
    GiftAid.UserNotFound:
      summary: GiftAid - User not found
      description: GiftAid - User not found
      value:
        error:
          code: gift_aid/user_not_found
          title: Bad request
          message: User not found
  responses:
    Unauthorized:
      description: Unauthorized
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  title:
                    type: string
                    example: Resource not found
                  message:
                    type: string
                    example: This endpoint is unavailable or can not be found
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
