openapi: 3.2.0
info:
  title: Goodstack Services Activities API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Activities
paths:
  /v1/activity-tags:
    get:
      security:
      - SecretApiKey: []
      - PublishableApiKey: []
      summary: List Activity Tags
      tags:
      - Activities
      responses:
        '200':
          description: Successfully retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/ActivityTag'
                  object:
                    type: string
                    example: activity_tag
        '400':
          $ref: '#/components/responses/IncorrectParams'
        '401':
          $ref: '#/components/responses/Unauthorized'
      operationId: getV1ActivityTags
      x-operation-id-source: derived
  /v1/activity-tags/{tagId}:
    parameters:
    - in: path
      name: tagId
      schema:
        type: string
      required: true
      description: Id of the Activity Tag
    get:
      security:
      - SecretApiKey: []
      - PublishableApiKey: []
      summary: Retrieve an Activity Tag
      tags:
      - Activities
      responses:
        '200':
          description: Retrieve an Activity tag
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ActivityTag'
                  object:
                    type: string
                    example: activity_tag
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV1ActivityTagsByTagId
      x-operation-id-source: derived
components:
  schemas:
    ActivityTag:
      type: object
      properties:
        id:
          type: string
          example: activitytag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        name:
          type: string
          example: Education
          description: Tag name
        description:
          type:
          - string
          - 'null'
          description: Tag description
        subTags:
          type: array
          items:
            $ref: '#/components/schemas/ActivitySubTag'
        createdAt:
          type: string
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
    ActivitySubTag:
      type: object
      properties:
        id:
          type: string
          example: activitysubtag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        name:
          type: string
          example: Sport school
          description: SubTag name
        tagId:
          type: string
          example: activitytag_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
          description: Parent tag id
        description:
          type:
          - string
          - 'null'
          description: SubTag description
        createdAt:
          type: string
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        updatedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
  responses:
    Unauthorized:
      description: Unauthorized
    IncorrectParams:
      description: Error validating inputs
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: bad_request
                  title:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: One or more of the inputs were invalid
                  reasons:
                    type: array
                    items:
                      type: string
                      example: pageSize must be greater than or equal to 0
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  title:
                    type: string
                    example: Resource not found
                  message:
                    type: string
                    example: This endpoint is unavailable or can not be found
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
