openapi: 3.2.0
info:
  title: Goodstack Services Validation Requests API
  version: v1
  x-logo:
    url: https://docs.goodstack.io/img/logo.png
    altText: Goodstack logo
  x-dark-logo:
    url: https://docs.goodstack.io/img/icons/Logo-white.svg
    altText: Goodstack logo
  contact:
    email: engineering-support@goodstack.io
    name: Api support
  description: '# Introduction


    Goodstack API allows you to build good into your product by facilitating charitable donations.'
servers:
- url: https://api.goodstack.io
  description: Production server
- url: https://sandbox-api.goodstack.io
  description: Sandbox server
tags:
- name: Validation Requests
  description: If you want to know if a nonprofit exists in an official registry, create a Validation Request and we will check it for you. Documentary evidence can be attached to a Validation Request. When a Validation Request is accepted or rejected, the appropriate field (acceptedAt, rejectedAt) will be populated.
paths:
  /v1/validation-requests:
    get:
      security:
      - SecretApiKey: []
      summary: List Validation Requests
      tags:
      - Validation Requests
      parameters:
      - in: query
        name: status
        schema:
          type: string
          enum:
          - pending
          - accepted
          - rejected
        description: Filter for status of Validation Request
        example: pending
      - in: query
        name: query
        schema:
          type: string
        description: filter for name of ValidationRequest or assigned Organisation
      - in: query
        name: sort
        schema:
          type: string
          enum:
          - id
          - name
        description: Field to sort by
        example: name
      - $ref: '#/components/parameters/cursor'
      - $ref: '#/components/parameters/pageSize'
      responses:
        '200':
          description: Successfully listed Validation Requests
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      allOf:
                      - $ref: '#/components/schemas/ValidationRequest'
                      - type: object
                        properties:
                          organisationName:
                            type:
                            - string
                            - 'null'
                            description: assigned organisation's name
                  object:
                    type: string
                    example: validation_request
                  totalResults:
                    type: integer
                    example: 33
                  pageSize:
                    type: integer
                    example: 25
                  _links:
                    $ref: '#/components/schemas/CursorLinks'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                IncorrectParams:
                  $ref: '#/components/examples/IncorrectParams'
                CursorError:
                  $ref: '#/components/examples/Pagination.CursorError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: getV1ValidationRequests
      x-operation-id-source: derived
    post:
      summary: Create a Validation Request
      security:
      - SecretApiKey: []
      tags:
      - Validation Requests
      parameters:
      - in: header
        name: Idempotency-Key
        schema:
          type: string
        required: false
        description: Idempotency key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: Name of the charity to validate
                  maxLength: 500
                registryName:
                  type: string
                  description: Name of charity's registry
                  maxLength: 255
                registryId:
                  type: string
                  description: Charity's id in registry
                  maxLength: 255
                email:
                  type: string
                  example: test@goodstack.internal
                  maxLength: 255
                addressLine1:
                  type: string
                  example: Testowa street 15
                  maxLength: 255
                addressLine2:
                  type: string
                  example: Testowa street 22/15
                  maxLength: 255
                city:
                  type: string
                  example: Katowice
                  maxLength: 255
                postal:
                  type: string
                  example: 44-100
                  maxLength: 255
                state:
                  type: string
                  example: Silesia
                  maxLength: 255
                website:
                  type: string
                  format: website
                  example: https://goodstack.internal
                  maxLength: 255
                countryCode:
                  type: string
                  example: POL
                usaGroupExempt:
                  type: boolean
              required:
              - name
              - registryName
              - registryId
              - website
              - countryCode
      responses:
        '200':
          description: Successfully created a Validation Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ValidationRequest'
                  object:
                    type: string
                    example: validation_request
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                OriginalCallInProgress:
                  $ref: '#/components/examples/Idempotency.OriginalCallInProgress'
                SameKeyDifferentData:
                  $ref: '#/components/examples/Idempotency.SameKeyDifferentData'
                KeyInUse:
                  $ref: '#/components/examples/Idempotency.KeyInUse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
      operationId: postV1ValidationRequests
      x-operation-id-source: derived
  /v1/validation-requests/{id}:
    parameters:
    - in: path
      name: id
      schema:
        type: string
      required: true
      description: Id of the Validation Request.
    get:
      security:
      - SecretApiKey: []
      summary: Retrieve a Validation Request
      tags:
      - Validation Requests
      responses:
        '200':
          description: Successfully retrieved a Validation Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: '#/components/schemas/ValidationRequest'
                  object:
                    type: string
                    example: validation_request
        '400':
          $ref: '#/components/responses/IncorrectParams'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/ForbiddenScope'
        '404':
          $ref: '#/components/responses/NotFound'
      operationId: getV1ValidationRequestsById
      x-operation-id-source: derived
components:
  examples:
    Idempotency.KeyInUse:
      summary: Idempotency - Key in use
      description: Idempotency Key is already in use
      value:
        error:
          code: idempotency/key_already_in_use
          title: Bad request
          message: Idempotency Key is already in use
    Idempotency.SameKeyDifferentData:
      summary: Idempotency - Data has changed from previous request
      description: Data has changed from previous request with this key
      value:
        error:
          code: idempotency/same_key_different_data
          title: Bad request
          message: Data has changed from previous request
    Idempotency.OriginalCallInProgress:
      summary: Idempotency - Original call in progress
      description: Original call with this idempotency key is still in progress, please wait and try again
      value:
        error:
          code: idempotency/original_call_in_progress
          title: Bad request
          message: Original call with this idempotency key is still in progress
    IncorrectParams:
      summary: 400 Incorrect Parameters
      description: Bad Request - Incorrect parameters
      value:
        error:
          code: bad_request
          title: Bad request
          message: One or more of the inputs were invalid
          reasons:
          - pageSize must be greater than or equal to 0
    Pagination.CursorError:
      summary: Error in cursor parameter
      description: We were unable to decode the cursor
      value:
        error:
          code: pagination/cursor_error
          title: Bad request
          message: Unable to find the next page
  parameters:
    pageSize:
      in: query
      name: pageSize
      required: false
      schema:
        type: integer
        minimum: 0
        default: 25
      description: How many items per page, for pagination.
    cursor:
      in: query
      name: cursor
      required: false
      schema:
        type: string
        example: eyJ2IjoxLCJkIjoibmV4dCIsImlkIjoiZG9uYXRpb25fMDAwMDAwQnc3U1BhMHBxOHBRMFFsckVaWGFaN3AifQ%3D%3D
      description: A cursor that points to where to start the page
  schemas:
    Error:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
            title:
              type: string
            message:
              type: string
            reasons:
              type:
              - array
              - 'null'
              items:
                type: string
    ValidationRequest:
      type: object
      properties:
        id:
          type: string
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        name:
          type: string
          example: Some charity
        registryName:
          type: string
          example: National Charities Registry
        registryId:
          type: string
          example: I34324
          description: Charity's ID in registry
        email:
          type:
          - string
          - 'null'
          format: email
          example: test@percent.internal
        addressLine1:
          type:
          - string
          - 'null'
          example: Testowa street 15
        addressLine2:
          type:
          - string
          - 'null'
          example: Testowa street 22/15
        city:
          type:
          - string
          - 'null'
          example: Katowice
        postal:
          type:
          - string
          - 'null'
          example: 44-100
        state:
          type:
          - string
          - 'null'
          example: Silesia
        website:
          type: string
          format: website
          example: https://percent.internal
        organisationId:
          type:
          - string
          - 'null'
          example: organisation_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        countryCode:
          type: string
          example: POL
        rejectionReason:
          type:
          - string
          - 'null'
          description: Reason for rejecting
          deprecated: true
          enum:
          - Organisation is not a nonprofit.
          - Organisation didn’t provide sufficient proof of nonprofit status.
          - Organisation is a nonprofit but doesn’t have an official registry ID.
          - Other
        rejectionReasonCode:
          type:
          - string
          - 'null'
          description: Reason code for rejecting
          enum:
          - other
          - not_eligible
          - incorrect_documentation
          - not_attributable_to_registry
        usaGroupExempt:
          type:
          - boolean
          - 'null'
          deprecated: true
        createdAt:
          type: string
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        acceptedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        rejectedAt:
          type:
          - string
          - 'null'
          format: date-time
          example: '2020-10-13T17:46:54.000Z'
        documents:
          type: array
          items:
            $ref: '#/components/schemas/ValidationRequestDocument'
        organisationTypes:
          type: array
          items:
            type: string
            enum:
            - social_impact
            - nonprofit
    ValidationRequestDocument:
      type: object
      properties:
        id:
          type: string
          example: validationrequestdocument_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        validationRequestId:
          type: string
          example: validationrequest_xxxxxxxxxxxxxxxxxxxxxxxxxxxxx
        url:
          type: string
          example: https://s3-eu-west-1.amazonaws.com/assets.poweredbypercent.com/document.docx
        createdAt:
          type: string
          format: date-time
        deletedAt:
          type:
          - string
          - 'null'
          format: date-time
    CursorLinks:
      type: object
      properties:
        current:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        next:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
        prev:
          type: string
          example: https://.../v1/...?cursor=eyJ2Ijox...N3AifQ%3D%3D
  responses:
    Unauthorized:
      description: Unauthorized
    ForbiddenScope:
      description: Forbidden (scope)
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: forbidden
                  title:
                    type: string
                    example: Forbidden
                  message:
                    type: string
                    example: Access is denied due to missing scope permissions
    IncorrectParams:
      description: Error validating inputs
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: bad_request
                  title:
                    type: string
                    example: Bad request
                  message:
                    type: string
                    example: One or more of the inputs were invalid
                  reasons:
                    type: array
                    items:
                      type: string
                      example: pageSize must be greater than or equal to 0
    NotFound:
      description: The specified resource was not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                type: object
                properties:
                  code:
                    type: string
                    example: not_found
                  title:
                    type: string
                    example: Resource not found
                  message:
                    type: string
                    example: This endpoint is unavailable or can not be found
  securitySchemes:
    PublishableApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: API key starting with 'pk_' that can be made public
    SecretApiKey:
      type: apiKey
      in: header
      description: API key starting with 'sk_' that must be kept secure
      name: Authorization
    DonationSessionToken:
      type: apiKey
      in: header
      name: donation-session-token
      description: Donation session token
x-tagGroups:
- name: NONPROFIT DATA
  tags:
  - Organisations
  - Countries
  - Registries
  - Categories
- name: NONPROFIT VALIDATIONS
  tags:
  - Validation Requests
  - Validation Request Documents
  - Validation Invites
  - Validation Submissions
  - Validation Submission Documents
  - Validation Submission Configuration
  - Monitoring Subscriptions
  - Eligibility Subscriptions
  - Activities
  - Agent Verifications
- name: MONETARY DONATIONS
  tags:
  - Donations
  - Donation Sessions
  - Users
  - Gift Aid
- name: WEBHOOK SUBSCRIPTIONS
  tags:
  - Webhook Subscriptions
